version: '3.7'
services:
  pitter_sync:
    build: .
    volumes:
      - ./src/:/src/src/
    command: bash -c "python src/manage.py migrate && python src/manage.py runserver localhost:8000"
    ports:
      - 8000:8000
    depends_on:
      - redis
      - postgresql
      - pitter_async
  pitter_async:
    build: ../async/
    volumes:
      - ../async/src/:/src/src/
    env_file:
      - ../async/local.env
    command: bash -c "python src/main.py"
    ports:
      - 8118:8118
  redis:
    image: redis
    command: redis-server --appendonly yes
    ports:
      - 6379:6379
  postgresql:
    image: postgres
    environment:
      POSTGRES_PASSWORD: 'postgres'
    volumes:
      - pitter_sync_postgresql:/var/lib/postgresql
    ports:
      - 5432:5432

volumes:
  pitter_sync_postgresql:

